exclude *
recursive-include examples *.py
recursive-include trakt_tools *.py
recursive-include tests *
include AUTHORS *requirements.txt .coveragerc .gitignore *.cfg *.in *.ini *.py *.rst *.yml
global-exclude *.iml *.pyc
